.App {
  text-align: center;
}

#headerOne {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}


body {
  background: #fff;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 20px;
  
}

ul li {
  padding: 10px;
  font-size: 20px;
}

header {
  margin: 0;
}

.sideList {
  float: left;
  width: 30%;
  background-color: #edeee3;
  height: auto;
  margin: 0;
  padding-bottom: 600px;
  
}

#Userid, #MessageList {
  width: 70%;
  margin: 0 auto;
}